<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.menu" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FoodAddActivity"
            android:label="@string/title_activity_food_add" >
        </activity>
        <activity
            android:name=".FoodEditActivity"
            android:label="@string/title_activity_food_edit" >
        </activity>
        <activity
            android:name=".FoodMenuActivity"
            android:label="@string/title_activity_food_menu" >
        </activity>
        <activity
            android:name=".FoodDetailActivity"
            android:label="@string/title_activity_food_detail" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".MenuDetailActivity"
            android:label="@string/title_activity_menu_detail" >
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>
        <activity
            android:name=".MenuEditActivity"
            android:label="@string/title_activity_menu_edit" >
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".CloseActivity"
            android:label="@string/title_activity_close" >
        </activity>
    </application>

</manifest>
